/************************************************
   Yatzy game, Bootstrap version by Jarmo Mäkelä
   yatzy.css
   Version 1.0, 2016-04-20
*************************************************/

#brandText {
  font-weight: bold;
  color: green;
}

.fLabel {
  color: green;
  white-space:nowrap;
  cursor: pointer;
}

.fValue {
  color: black;
  white-space:nowrap;
}

.fInfo {
  font-style: italic;
  color: black;
  white-space:nowrap;
}

.fPoints {
  color: red;
  white-space:nowrap;
}

.vTotal {
  font-weight: bold;
  color: red;
  white-space:nowrap;
}

.dField {
  color: green;
  white-space:nowrap;
}

.dField2 {
  color: red;
  white-space:nowrap;
}
